<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD4Uunzj1HcyordvCjzBhVcQ018r_uB3kU</string>
	<key>GCM_SENDER_ID</key>
	<string>922793930380</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.couterApp</string>
	<key>PROJECT_ID</key>
	<string>quiz-app-48f80</string>
	<key>STORAGE_BUCKET</key>
	<string>quiz-app-48f80.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:922793930380:ios:041a194f664bfac8c8d5a9</string>
</dict>
</plist>